* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body {
  color: #000;
  background: #fff
}
body,
button,
input {
  font: 600 16px Nunito,sans-serif
}
ul {
  margin: 4px;
  align-items: flex-start;
  text-align: start
}
li {
  font-size: 14px;
  list-style-position: inside
}
h1 {
  color: #ff4848;
  background-color: #ffa8a8;
  align-self: center;
  border: 1px solid #970707;
  border-radius: 20px;
  padding: 10px
}

.mensagemSuccessG {
   color: #2da822;
   background-color: #87faa0;
   align-self: center;
   border: 1px solid #035d1a;
   border-radius: 20px;
   padding: 10px
 }

.form.history {
  margin-top: 15px
}

.form {
  width: 700px;
  margin: 0 auto;
  margin-top: 15px;
  background: #fcfcfc;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  padding: 34px
}

.form .card {
  justify-content: start;
  flex-direction: column;
  display: flex
}
.form .card .rowCard {
  display: flex;
  flex-direction: row
}
.form .card .subcard {
  flex-direction: column;
  padding: 10px;
  display: flex;
  width: 350px;
  height: 220px
}
.form .card .subcard .checkbox_box {
  margin-top: 5px
}
.form .card .subcard span {
  font-size: 16px
}
.form .card .rowCard .subcard .contadores {
  flex-direction: column;
  justify-content: start;
  text-align: start
}
.form .card .rowCard .subcard .cargaInfo {
  font-weight: 700
}
.form .card .rowCard .subcard .cargaInfo span {
  color: #555;
  font-weight: 700
}
.form .card .rowCard .subcard table {
  margin: 0;
  padding: 0;
  background-color: #1ba80e
}
.zeraPateleBtn {
  background-color: #041a56;
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
  margin-right: 5px;
  width: 45%
}
.zeraPateleBtn:hover {
  background-color: #3955a1;
  cursor: pointer
}
.finalizaConfBtn {
  min-height: 30px;
  padding: 5px;
  border-radius: 10px;
  border: 1px #000 solid;
  background-color: orange;
  font-size: 14px;
  color: #fff;
  align-items: flex-end
}
.row {
  margin: 10px;
  flex-direction: row wrap
}
.form .card .contadores {
  font-size: 20px;
  text-align: center
}
.form .card .contadores span {
  align-self: auto
}
.form .card .contadores #etiquetasValidas {
  color: #1ba80e;
  font-size: 18px
}
.form .card .contadores #etiquetasToConf {
  color: #000;
  font-size: 18px
}
.form .card .contadores #etiquetasInvalidas {
  color: red;
  font-size: 18px
}
.form .card button {
  margin-top: 10px
}
.form .card button:hover {
  background: #3d5485;
  cursor: pointer
}
.sendButton:hover {
  background: #919191;
  cursor: pointer
}
.form .card .responseList {
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  display: flex
}
.form .card .responseList .responseCard {
  background: #fff;
  border-radius: 20px
}
.form .card .responseList .danger {
  color: #4a4a4a;
  background-color: #ffbaba;
  border: 1px solid #9c0000
}
.form .card .responseList .success {
  color: #4a4a4a;
  background-color: #b3ffa6;
  border: 1px solid #1ba80e
}
.form .card .responseList .alert {
  color: #4a4a4a;
  background-color: #feffb5;
  border: 1px solid #999c00
}
.form .card .responseList p {
  margin: 2px 10px 2px 10px
}

input[type=text] {
  border-radius: 10px;
  border: 1px #000 solid;
  min-height: 30px;
  padding: 5px
}
.form .card button {
  min-height: 30px;
  padding: 5px;
  border-radius: 10px;
  border: 1px #000 solid
}
#clearPage {
  padding: 5px;
  border-radius: 10px;
  border: 1px #000 solid;
  background: #ff3e30;
  color: #fff;
  font-size: 12px;
  width: 45%
}
#clearPage:hover {
  background: #db6a62;
  cursor: pointer
}
#finalizaConferencia {
   padding: 5px;
   border-radius: 10px;
   border: 1px #000 solid;
   background: #09a72b;
   color: #fff;
   font-size: 12px;
   width: 45%
 }
 #finalizaConferencia:hover {
   background: #6adf7d;
   cursor: pointer
 }

#trocarMotivo {
  padding: 5px;
  border-radius: 10px;
  border: 1px #000 solid;
  background: orange;
  color: #fff;
  font-size: 12px;
  width: 45%
}
#trocarMotivo:hover {
  background: rgba(255,166,0,.781);
  cursor: pointer
}
#etiqeutasDuplicadas,
#qtdePalete,
.form .card .contadores #etiquetasTotalConf {
  color: #00f;
  font-size: 18px
}
